<h1>You have arrived at the biggest battle of all time. Humans v COMPUTERS!</h1>
<h2>The battle is ongoing. The score is: MAN <%= $human_score %> - <%= $computer_score %> MACHINE</h2>
<a href="/rps_start">Click here to play!</a>
