<h1>Welcome to the game!</h1>
<h2>Let's play rock, paper, scissors!</h2>

<form action="rps" method="post">
  <p><label for="text">Do you choose rock, paper or scissors?</label></p>
  <p><input type="text" name="human_choice"></p>
  <p><input type="submit"></p>
</form>

<p><form class="goback" action="/">
  <input type="submit" value="Home page">
</form></p>
